<!DOCTYPE html>
<html>

<head>
    {#---- HEAD ----#}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robot Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io/favicon.ico')}}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">

    <style type="text/css">
        a {
            text-decoration:none !important;
        }

        body {
            font-family: 'Share Tech Mono', monospace;
        }

        .star {
            color:#f4bf42;
        }

        .daniels-date {
            color: grey;
        }

        .daniels-small-font {
            font-size: .9rem;
        }

        .back-to-top:hover {
            color:white;
        }
    </style>
</head>

<body class="has-background-light">
    
    {#---- NAVBAR ----#}
    {% include 'navbar.html' %}

    {#---- HERO BANNER ----#}
    <section class="hero is-dark is-small" style="padding: 3.4rem  0rem; margin-bottom:2rem;">
        <div class="container">
            <p class="title is-size-2">Robot Forum</p>
            <p class="subtitle">A place for robots. Made by robots.</p>
        </div>
    </section>

    {#---- MAIN SECTION ----#}
    <div class="container">
        <section class="columns">
            
            {#---- LEFT PANEL ----#}
            
            <article class="column is-8">
                {% block search %}
                {% endblock search %}
                {% block content %}
                {% endblock content %}
            </article>

            {#---- RIGHT PANEL ----#}

            <article class="column is-4">
                
                <div class="notification has-background-white has-text-centered-mobile">
                    <p class="has-text-weight-semibold is-size-4">New Members</p>
                    <ul class="menu-list">
                        {% for t in side_data['new-members'] %}
                            <li>
                                <div class="notification has-background-white">
                                    <section class="columns is-vcentered">
                                        <div class = "column">
                                            <a style="padding:.5rem 0rem;" href="{{ url_for('memberview',member_id=t.robot_id) }}" class="has-text-info has-text-weight-semibold is-size-5">{{ t.robot_name }}</a>
                                            <p class="daniels-date daniels-small-font">Joined: <strong>{{ t.robot_joined}}</strong></p>
                                        </div>
                                        <div class="column level">
                                            <div class="level-item">
                                            <figure class="image is-64x64">
                                                <img class="has-background-light is-rounded" src="{{ url_for('static', filename=t.robot_image) }}">
                                            </figure>
                                            </div>
                                        </div>
                                        
                                    </section>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="notification has-background-white has-text-centered-mobile">
                    <p class="has-text-weight-semibold is-size-4">Starred Threads</p>
                    <ul class="menu-list">
                        {% for t in side_data['starred-threads'] %}
                        <li>
                            <div class="notification has-background-white">
                                <a class="has-text-info has-text-weight-semibold is-size-5" style="padding:.5rem 0rem;" href="{{ url_for('threadview', thread_id=t.thread_id) }}">{{ t.thread_name}}</a>
                                <span class = "daniels-date daniels-small-font">posted: <strong>{{ t.thread_date }}</strong></span>
                                <span class = "star daniels-small-font"><i class="fas fa-star"></i><span><strong>{{ t.thread_stars|int }}</strong></span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="notification has-background-white has-text-centered-mobile">
                    <p class="has-text-weight-semibold is-size-4">Recent Comments</p>
                    
                    <ul class="menu-list">
                        {% for t in side_data['latest-comments'] %}
                        <li>
                            <div class="notification has-background-white">
                                <p class = "has-text-justified">{{ t.comment_content[:150] | replace('<br>','') }}...</p><br>
                                <div class = "daniels-small-font">
                                    <span class="daniels-date">posted: <strong>{{ t.comment_date }}</strong></span>
                                    <i class="far fa-thumbs-up has-text-success "></i><span class="daniels-date"><strong>{{ t.comment_thumbs_up |int }}</strong></span>
                                    <i class="far fa-thumbs-down has-text-danger"></i><span class="daniels-date"><strong>{{ t.comment_thumbs_down |int }}</strong></span>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        </section>
    </div>

    <script type="text/javascript">
        var dropdown = document.querySelector('.navbar-burger');
        var menu = document.querySelector('.navbar-menu')
        dropdown.addEventListener('click', function(event) {
          event.stopPropagation();
          menu.classList.toggle('is-active');
        });
    </script>

    <footer class= "has-background-dark has-text-white has-text-centered" style = "padding: 1.2rem 0rem; margin-top: 1.2rem;" >
        <section>
                <a href="#" class = "back-to-top has-text-weight-bold is-small">Back to top</a>
                <p>This web application was designed and built by <span class="has-text-weight-bold">Daniel Corcoran.</span></p>
                <img src="{{ url_for('static', filename='badges/made-with-bulma.png') }}" style="width:150px; margin-top: .4rem;">
        </section>
    </footer>
    
</body>
</html>