<!DOCTYPE html>
<html>

<head>
    {#---- HEAD ----#}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robot Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io/favicon.ico')}}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">

    <style type="text/css">
        a {
            text-decoration:none !important;
        }

        body {
            font-family: 'Share Tech Mono', monospace;
        }
    </style>
</head>

<body class="has-background-light">
    
    {#---- NAVBAR ----#}
    {% include 'navbar.html' %}

    {#---- HERO BANNER ----#}
    <section class="hero is-dark is-medium" style="margin-bottom:2rem;">
        <div class="hero-body container">
            <p class="title is-size-2">Robot Forum</p>
            <p class="subtitle">A place for robots. Made by robots.</p>
        </div>
    </section>

    {#---- MAIN SECTION ----#}
    <div class="container">
        <section class="columns">
            
            {#---- LEFT PANEL ----#}
            
            <article class="column is-8">
                {% block content %}
                {% endblock content %}
            </article>

            {#---- RIGHT PANEL ----#}

            <article class="column is-4">
                <div class="notification has-background-white">
                    <p class="has-text-weight-semibold is-size-4">New Members</p>
                    <ul class="menu-list">
                        {% for t in side_data['new-members'] %}
                            <li>
                                <div class="notification has-background-white">
                                    <section class="columns is-vcentered">
                                        <div class = "column">
                                            <div class="has-text-info has-text-weight-semibold is-size-5">{{ t.robot_name }}</div>
                                            <div class="has-text-primary is-size-7">Joined on: {{ t.robot_joined}}</div>
                                        </div>

                                        <figure class="column image">
                                            <img style = "margin:auto; width:70px; height: 70px; " class="has-background-light is-rounded" src="{{ t.robot_avatar }}">
                                        </figure>
                                    </section>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="notification has-background-white">
                    <p class="has-text-weight-semibold is-size-4">Starred Threads</p>
                    <ul class="menu-list">
                        {% for t in side_data['starred-threads'] %}
                        <li>
                            <div class="notification has-background-white">
                                <a class="has-text-link" style="padding:.5rem 0rem;" href="{{ url_for('threadview', thread_id=t.thread_id) }}">{{ t.thread_name}}</a>
                                <p class = "has-text-grey-light">posted: {{ t.thread_date }} <i class="fas fa-star has-text-warning"></i><span>{{ t.thread_stars|int }}</span></p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="notification has-background-white">
                    <p class="has-text-weight-semibold is-size-4">Recent Comments</p>
                    
                    <ul class="menu-list">
                        {% for t in side_data['latest-comments'] %}
                        <li>
                            <div class="notification has-background-white">
                                <p>{{ t.comment_content | replace('<br>','') }}</p><br>
                                <span class="has-text-grey-light">posted: {{ t.comment_date }}</span>
                                <i class="far fa-thumbs-up has-text-success"></i><span class="small">{{ t.comment_thumbs_up |int }}</span>
                                <i class="far fa-thumbs-down has-text-danger"></i><span class="small">{{ t.comment_thumbs_down |int }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        </section>
    </div>

    <script type="text/javascript">
        var dropdown = document.querySelector('.navbar-burger');
        var menu = document.querySelector('.navbar-menu')
        dropdown.addEventListener('click', function(event) {
          event.stopPropagation();
          menu.classList.toggle('is-active');
        });
    </script>

    
</body>
</html>