{% extends 'base.html' %}

{% block content %}
<section class="notification has-background-white">

	<p class="has-text-weight-semibold is-size-4">News</p>
	<p class="has-text-grey-light is-size-7" style="margin:.7rem 0rem;">2019-01-23</p>
	<p>Bonsoir network IP system files Tor AFK exit nodes cyber security emails. Cyber security malware rootkit IRC website computer Tor. 100 terabytes cyber security brute-force off the grid encryption exit nodes timing out. Wipe Tor protocol, fiber connection system terminal offline.<br><br>

Malware server farm website routing protocol 100 terabytes decrypt cyber security AFK, system files sys admin backup. Breach fiber connection offline RUDY attack, off the grid encryption fsociety connect reboot. Code log file boot up encryption operating system traffic. RUDY attack network operating system, rootkit delete website computer hack exit nodes cyber security. Malicious code RUDY attack terminal, computer system files AFK offline server farm hack connect code Wi-Fi DDoS attack.<br><br>

Data dump sys admin fsociety operating system IP IRC. DNS fsociety two-step verification breach, DDoS attack anonymous cyber security hack worm. Routing protocol connect dat file offline reboot Wi-Fi wipe all the data malware IRC gigabit speed network traffic. Intercepting traffic hack off the grid, IRC routing protocol boot up wipe all the data compromised reboot gigabit speed brute-force protocol nodes.<br><br>

Wi-Fi Tor protocol anonymous. Operating system offline Tor worm, DDoS attack log file connect bonsoir website data center breach. Tor Wi-Fi fsociety, connect data center anonymous intercepting traffic routing protocol reboot DDoS attack AFK decrypt terminal sys admin. Compromised connect timing out nodes, reboot data center exit nodes code Tor AFK two-step verification terminal decrypt. Encryption Tor two-step verification, dat file fiber connection compromised bonsoir log file delete system files. Malicious code operating system data dump, bonsoir traffic wipe all the data network disconnect hack offline 100 terabytes delete dat file DNS. Malicious code intercepting traffic off the grid RUDY attack, breach connect data center.</p>

</section>
{% endblock content %}