{% extends 'base.html' %}

{% block content %}
<section class="notification has-background-white">
    <div class="columns is-vcentered">
         <div class="column">
                <figure class="image"><img class="is-rounded has-background-warning" src="{{ member_data[0].robot_avatar }}"></figure>
        </div>


        <div class="column">

                <p class="title has-text-info">{{ member_data[0].robot_name }}</p>
                <p>member id: <span>{{ member_data[0].robot_id | int}}</span></p>
                <p>age: <span>{{ member_data[0].robot_age | int}}</span></p>
                <p>joined on:<span>{{ member_data[0].robot_joined}}</span></p>

            {# CALCULATE TOTAL THREADS AND TOTAL STARS #}
            {% if has_threads %}
                {% set totals = {'stars':0} %}
                {% for record in member_data %}
                    {% if totals.update({'stars':totals.stars+record.thread_stars} )%}
                    {% endif %}
                {% endfor %}

                <p>total threads: <span>{{ member_data|count }}</span></p>
                <p>total stars: <span>{{ totals.stars|int }}</span></p>
                <p>threads: </p>
            {% for record in member_data %}
                <p>- <a class="has-text-link" href="{{ url_for('threadview', thread_id=record.thread_id) }}">{{ record.thread_name }}</a></p>
            {% endfor %}


            {% else %}
                <p>total threads: <span class ="has-text-primary">0</span></p>
                <p>total stars: <span class ="has-text-primary">0</span></p>

            {% endif %}
                
        </div>
       
    </div>
    
    
</section>
{% endblock content %}