{% extends 'base.html' %}

{#---- Set placeholder search term and render search form from html----#}
    {% set placeholder = "Find a member..."%}
    {% block search %}
        {% include 'search-form.html' %}
    {% endblock search%}

{% block content %}

<section class="notification has-background-white">
    <p class="has-text-weight-semibold is-size-4" style="margin-bottom: 1rem;">Members</p>
    {#---- ITERATE THROUGH MEMBERS QUERY RESULT SET ----#}
    {% for m in members.items %}
        <div class="notification is-white">
            <section class="columns is-vcentered">
                <div class="column has-text-centered-mobile">
                    <p class="has-text-info has-text-weight-semibold is-size-5">{{ m.robot_name }}</p>
                    <p>joined on: <span class = "has-text-info">{{ m.robot_joined }}<span></p>
                    <a class="button is-link is-small" style ="margin-top:.5rem;" href="{{ url_for('memberview', member_id=m.robot_id) }}">view profile</a>
                </div>
                <div class="column level">
                    <div class="level-item">
                        <figure class="image is-128x128">
                            <img src="{{ url_for('static', filename=m.robot_image) }}" class="has-background-light is-rounded">
                        </figure>
                    </div>
                </div>

            </section>
            </div>
            <hr>
    {% endfor %}
    {% if members.has_prev %}
        <a class = "is-link button" href = "{{ url_for('members', search=search, page_number = members.prev_num) }} ">previous page</a>
    {% endif %}
    {% if members.has_next %}
        <a class = "is-link button"  href = "{{ url_for('members',search=search, page_number = members.next_num) }} ">next page</a>
    {% endif %}
</section>
{% endblock content %}