<section class= "notification has-background-white">
    <p class="has-text-weight-semibold is-size-4" style="margin-bottom: 1rem;">Search</p>
    <form method="post">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" name="search" placeholder="{{ placeholder }}">
          </div>
          <div class="control">
            <button class="button is-link" type="submit">
              search
            </button>
          </div>
        </div>
    </form>
</section>