{% extends 'base.html' %}

{% block content %}
<section class="notification has-background-white">
    <div class = "columns">
        <div class = "column is-2 level">
            <div class="level-item is-vcentered">
                <figure class="image is-64x64">
                    <img class="is-rounded has-background-warning" src="{{ url_for('static', filename=threads[0].robot_image) }}">   
                </figure>
            </div>
        </div>

        <div class="column is-10 has-text-centered-mobile">
            <p class="has-text-weight-semibold is-size-4">{{ threads[0].thread_name }}</p>
            <span class = "has-text-info">Author: <strong>{{ threads[0].robot_name }}</strong></span>
            
            <span class = "has-text-primary">Posted: <strong>{{threads[0].thread_date}}</strong></span>
            <span class="star"><i class = "fas fa-star"></i><span><strong>{{ threads[0].thread_stars|int }}</strong></span></span>
        
        </div>
    </div>
       
    <p class = "has-text-justified">{{ threads[0].thread_content | safe }}</p>
</section>
<section class="notification has-background-white">
    <p class="has-text-weight-semibold is-size-4" style = "margin-bottom: 1rem;">Comments</p>
    {% if comments|count > 0%}
        {% for c in comments %}
            <p style="padding-left:3rem;">{{ c.comment_content|safe }}<span class="daniels-date">{{ c.comment_date }} </span>

            <i class="far fa-thumbs-up has-text-success "></i>
            <span class="daniels-date">{{ c.comment_thumbs_up |int }}</span>
            
            <i class="far fa-thumbs-down has-text-danger"></i>
            <span class="daniels-date">{{ c.comment_thumbs_down |int }}</span></p><br>
        {% endfor %}
    {% else %}
    <p>There are no comments yet, for this thread.</p>
    {% endif %}
    
</section>
{% endblock content %}