{% extends 'base.html' %}

{% block content %}
<section class="notification has-background-white">
	<p class="has-text-weight-semibold is-size-4" style = "margin-bottom: 1rem;">Threads</p>
	{#---- ITERATE THROUGH THREADS QUERY RESULT SET ----#}
	{% for t in threads.items %}
		<div class="notification is-dark">
			<section class="columns is-vcentered">
				<div class="column">
					<p class = "has-text-weight-semibold has-text-info is-size-4"><a href="{{ url_for('threadview', thread_id=t.thread_id) }}">{{ t.thread_name }}</a></p>
					<p style = "margin: .5rem 0;">{{ t.thread_content[:250] }}...</p>
					<span class = "has-text-grey-light is-size-7">posted: <strong>{{t.thread_date}}</strong></span>
					<span class = "has-text-info is-size-7">created by: <strong>{{ t.robot_name }}.</strong></span>
					<i class="fas fa-star has-text-warning"></i><span class = "has-text-warning is-size-7"> {{ t.thread_stars|int }}</span>
					{% set tags = t.thread_tags.split(',') %}
					<div class="tags" style = "margin-top: .8rem;">
						{% for tag in tags %}
							<span style = "padding:.25rem .4rem;" class = "tag small is-link is-small">{{ tag }}</span>
						{% endfor %}
					</div>
				</div>
			</section>
			

		</div>
	{% endfor %}

	{% if threads.has_prev %}
		<a class = "has-text-info" href = "{{ url_for('threads', page_number = threads.prev_num) }} ">previous page</a>
	{% endif %}
	<a>page {{ threads.page | int }}</a>
	{% if threads.has_next %}
		<a class = "has-text-info"  href = "{{ url_for('threads', page_number = threads.next_num) }} ">next page</a>
	{% endif %}

</section>
{% endblock content %}